.DS_STORE
build/
notebooks/
images/
.idea/
__pycache__
_deprecated*
pycocotools/
.swp
_todo_*
_res/
_complex/
*.h5
.ipynb_checkpoints/*
*.pth
results/
images/
polygon/_complex/adjustment.py
polygon/_complex/shp.py
